<!DOCTYPE>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>
</head>
<body>
<h3>Here is your word:</h3><p><b><%=@result%></b></p>
</body>
</html>