<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>
	</head>
	<body>

	<section>
	
<!--top decoration circles -->	
		<div class="container">
			<div class="top">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			
			
			</div>
		</div>
	
		<div class="title">
			<h1>Tweet-o-Phone</h1>
		</div>

<!--content area -->

			<div class="middle_text">
			

				<div class="instructions">
					<h4>How To Play:</h4>
					<div class="bullets">

						<div>1</div>
						<div>2</div>
						<div>3</div>
					
						
					</div>
					
					<p>Type in a word to start the game of Tweet-o-Phone.</p>
					<p>Click Submit to see how social media transforms your word.</p>
					<p>Continue the game by tweeting your result to your friends!</p>
					

				</div>
	
			</div>

			<div class="middle">
			

				<form action='/twitter' method="POST">
					<div class="input">
					<input name="word" autofocus="true" type="text" class="text_box" style="height: 30px"></input>
					<input type="submit" value="submit" id="button" ></input>
					</div>	
				</form>
			</div>
		
<!--Bottom decoration circles -->
			<div class="container_2">
				<div class="top">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</section>
	</body>
</html>