<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>
	</head>
	<body>

	<section>
	
<!--top decoration circles -->	
		<div class="container">
			<div class="top">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			
			
			</div>
		</div>
	
		<div class="title">
			<h1>Tweet-o-Phone</h1>
		</div>

<!--content area -->

			<div class="middle_text">
			

				<div class="instructions">
					<div class="bullets">

						<div></div>
						<div></div>
						<div></div>
						<div></div>
						
					</div>
					<p>Input a word you would like to search twitter for.</p>
					<p>Tweet-o-Phone will return a tweet with that word in it.</p>
					<p>Then it randomly picks another word in that tweet and sends it to Giphy.</p>
					<p>Giphy sends back an animated gif related to that word.</p>

				</div>
	
			</div>

			<div class="middle">
			

				<form action='/twitter' method="POST">
					<div class="input">
					<input name="word" autofocus="true" type="text" class="text_box" style="height: 30px"></input>
					<input type="submit" value="submit" id="button" ></input>
					</div>	
				</form>
			</div>
		
<!--Bottom decoration circles -->
			<div class="container_2">
				<div class="top">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</section>
	</body>
</html>