<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>
	</head>
	<body>

	<div class="section">
		<header>
			<h1>Tweet-o-Phone</h1>
		</header>
<!--top decoration circles -->	
		<div class="container">
			<div class="top">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
<!--content area -->		
		<div class="middle_text">
				<br>
			</div>

		<div class="middle">

				<form action='/twitter' method="POST">
					<input name="word" type="text" class="text_box"></input>
					<input type="submit" value="submit" id="button" ></input>	
				</form>
			</div>
		
<!--Bottom decoration circles -->
			<div class="container_2">
				<div class="top">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</div>
	</body>
</html>