<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../public/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>
	</head>
	<body>

	<div class="section">
		<header>
			<h1>Tweet-o-Phone</h1>
		</header>
			
		<div class="container">
		
			
			<div class="top">

				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>

		</div>
		<div class="middle_text">
				<br>
				<p>This is where the directions are.</p>
			</div>

		<div class="middle">

				<form action='/twitter' method="POST">
					<input name="word" type="text" class="text_box"></input>
					<input type="submit" value="submit" id="button" ></input>	
				</form>
			</div>


			<!-- <div class="results">
				<div>
					<br>
					<p class="p_results">Results</p>
				
				</div>
			</div> -->
		

		<div class="container_2">
		
			<div class="top">
			

				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>

			</div>
			</div>
		</div>
	</body>
</html>