body{
	background: #000;
	color: #fff;
	font-family: 'Cantora One', sans-serif;
	margin: none;
}


section{
	width: 100%;
	height: auto;
	overflow: auto;
	margin: -10px 0 0 0;
	overflow: auto;
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

header{
	margin: 150px 0 0 100px;
	font-size: 48px;
	font-family: 'Cantora One', sans-serif;
	text-shadow: 1px 1px 3px #fff;
	color: #000;
}


/*These containers contain the circular dots on the side of the page*/
.container{

	width: 100%;
	height: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
  	position: absolute;	
}
.container_2{
	width: 100%;
	height: auto;
  	top: 0; left: 0; bottom: 0; right: 0;
  	position: relative;	
}

p{
	font-size: 30px;
}

.top{
	width: 100%;
	height: auto;
	margin: 0 0 0 0;
	display: block;
}
.top div{
	
	border-radius: 50%;
	box-shadow: inset 1px 1px 2px #000;
	display: inline-block;
	height: 50px;
	width: 50px;
	float: left;
	margin:20px;
}
/*-----------------------------------------*/
/* These are the large black circles with input and results*/
.middle{
	background: #000;
	border-radius: 50%;
	width: 400px;
  	height: 400px;
  	margin: -50px 0 0 150px;
  	box-shadow: 1px 1px 3px #fff; 
  	display: inline-block;
 	
}
.middle_text{

  	margin: 0 0 0 150px;
  	display: inline-block;
  	float: left;
}

.results{
	background: #000;
	border-radius: 50%;
	width: 500px;
  	height: 500px;
  	margin: -100px 0 100px 100px;
  	box-shadow:  2px 2px 3px #fff;  	
}
/*-----------------------------------------------------*/

.text_box{
	margin: 200px 0 0 50px;
	height: 40px;
}

#button{
	height: 75px;
	width: 75px;
	border-radius: 50%;
	background: black;
	color: #fff;
	text-transform: capitalize;
	font-size: 20px;
	font-family: 'Cantora One', sans-serif;
}

.results p{
	font-size: 30px;
	
	color: #fff;
}
.text_r{
	margin:100px 0 0 0;
}

.p_results{
	margin: 50px 0 0 150px;

}



