body{
	background: #000;
	color: #fff;
	font-family: 'Cantora One', sans-serif;
	margin: none;
}


section{
	width: 100%;
	min-height: 900px;
	overflow: hidden;	
	margin: -10px 0 0 0;
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}

.title{
	height: auto;
	margin: 50px 0 10px 0;
	font-size: 4em;
	font-family: 'Cantora One', sans-serif;
	text-shadow: 1px 1px 3px #fff;
	color: #000;
	clear: both;
}
.title h1{
	margin: 0 0 0 20px;

}


/*These containers contain the circular dots on the side of the page*/
.container{
	margin: 0 0 0 0;
	width: 100%;
	height: 100px;
  	float: left;

}
.container_2{
	width: 100%;
	height: auto;
  	margin: 0 0 0 0;
  	float: left;
  	clear: both;
}

p{
	font-size: 24px;

}
.top{
	width: 100%;
	height: 100px;
	margin: 0 0 0 0;
	display: block;
	overflow: hidden;
	clear: both;
}
.top div{
	border-radius: 50%;
	box-shadow: inset 1px 1px 2px #000;
	display: inline-block;
	height: 50px;
	width: 50px;
	float: left;
	margin:20px;
}
/*-----------------------------------------*/
/* These are the large black circles with input and results*/
.middle{
	margin: 0 50px 50px 0;
	background: #000;
	border-radius: 50%;
	width: 500px;
  	height: 500px;
  	box-shadow: 1px 1px 3px #fff; 
  	display: inline-block;
  	float: right;
 	
}



.middle_text{
	
	float: left;
	font-size: 24px;
	margin: 0 0 0 40px;
	display: inline-block;
	width: 30%;
	height: auto;
}

.results{
	background: #000;
	margin: 75px 0 0 0;
	text-align: center;
  	 	
}


.play_again{

	height: 75px;
	width: 75px;
	border-radius: 50%;
	color: #fff;
	background: #000;
	font-family: 'Cantora One', sans-serif;
	float:left;
	display: inline-block;
	margin: 100px 0 0 0;
	
}
.circles{
	display: inline-block;
	float: right;
	min-width: 500px;
}

.result_page{
	margin: 0 50px 50px 0;
	background: #000;
	border-radius: 50%;
	width: 500px;
  	height: 500px;
  	box-shadow: 1px 1px 3px #fff; 
  	display: inline-block;
  	overflow: hidden;

}

/*-----------------------------------------------------*/
form{
	margin: 200px 0 0 100px;
}


#button{
	height: 75px;
	width: 75px;
	border-radius: 50%;
	background: black;
	color: #fff;
	text-transform: capitalize;
	font-size: 20px;
	font-family: 'Cantora One', sans-serif;
}

.content{
	height: 600px;
	width: 100%;
	float: left;
	clear: both;
}

.instructions{
	margin: 20px;
	width: 80%;
	font-size: 24px;
}

.instructions div{
	height: 30px;
	width: 30px;
	box-shadow: 1px 1px 1px #000;
	border-radius: 50%;
	margin: 10px;
}




