<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>
	</head>
<body>
	<div class="section">
		<header>
			<h1>Tweet-o-Phone</h1>
		</header>
			
		<div class="container">
			<div class="top">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				
			</div>
		</div>
<!--content area-->		
		<div class="middle_text">
			<br>
			<p>Results</p>
		</div>
		<div class="result_page">
			<div class="results">
			<% if @output_result.nil? %>
				<p> Try again </p>
			<% else %>
				<img src= "<%= @gif_url %>" height=250 >
			<% end %>
			</div>
		</div>

<!--Bottom decoration circles -->
			<div class="container_2">
				<div class="top">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					
				</div>
			</div>
		</div>
	</body>
</html>