<html>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link href='http://fonts.googleapis.com/css?family=Cantora+One' rel='stylesheet' type='text/css'>
	</head>
<body>
	<section>
		
			
		<div class="container">
			<div class="top">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				
			</div>
		</div>

		<div class="title">
	
			
		<h1>Tweet-o-Phone</h1>
	
	
		</div>

<!--content area-->		
		<div class="middle_text">
			<br>
			<p>Results</p>

			<%= @twitter_word %>

		<blockquote class="twitter-tweet">
			 <a href="https://twitter.com/twitterapi/status/<%=@tweet_id%>"></a>
		</blockquote>


		</div>

		
		<div class="circles">
			<button class="play_again" actions="/">Play Again</button>
			<div class="result_page">
				<div class="results">
					<% if @check_result %>
						<img src = "http://media.giphy.com/media/<%=@giphy_id%>/giphy.gif">			
					<% else %>
						<img src = "http://media.giphy.com/media/<%=@giphy_id%>/giphy.gif">
					<% end %>
		

				</div>

			</div>
			
		</div>
		
			<div id="tweets">
				
				<a class="twitter-timeline" href="https://twitter.com/Tweet_o_Phone" data-widget-id="383671652375990272" height="250px" data-chrome="transparent" >Tweets by @Tweet_o_Phone</a>

				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>


<!--Bottom decoration circles -->
			<div class="container_2">
				<div class="top">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					
					
				</div>
			</div>
		</section>
		
	</body>
</html>